@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+Bengali:wght@100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    font-family: 'Inter', 'Noto Serif Bengali', sans-serif;
    font-size: 16px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
}
